.createProductH1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 1%;
}

.createProductFormHeading{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.createBtnProduct{
    margin-bottom: 0.5%;
}

.resetBtnProduct{
    margin-right: 2%;
}