.allUser {
    /* background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg');  */
    background-size: cover;
    background-position: center;
    color: white; 
    padding: 20px;
    min-height: 100vh; 
}

.allUser1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
}

.allUsersearch {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.allUserinput {
    padding: 10px;
    width: 550px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white; 
}

.allUserselect {
    padding: 10px;
    width: 550px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

.allusertable {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.7); 
}

.alluserth,
.allusertd {
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
}

.alluserth {
    background-color: gray; 
}

.allusertr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); 
}

.allusertr:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.allUsersDeleteButton {
    padding: 5px 5px;
    background-color: #f23a3a; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.allUsersDeleteButton:hover {
    background-color: #f23a3a; 
}
